.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-correct-char {
  color: green;
}
.App-textarea {
  background: transparent;
  border: none;
}
input[type="text"] {
  background: transparent;
  border: none;
}
.App-quotes {
  font-family: "Dancing Script", cursive;
}
